<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.css">
	<style>
	.sidebar {
	  position: fixed;
	  top: 51px;
	  bottom: 0;
	  left: 0;
	  z-index: 1000;
	  padding: 20px;
	  overflow-x: hidden;
	  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	  border-right: 1px solid #eee;
	}

	/* Sidebar navigation */
	.sidebar {
	  padding-left: 0;
	  padding-right: 0;
	}

	.sidebar .nav {
	  margin-bottom: 20px;
	}

	.sidebar .nav-item {
	  width: 100%;
	}

	.sidebar .nav-item + .nav-item {
	  margin-left: 0;
	}

	.sidebar .nav-link {
	  border-radius: 0;
	}

	main {
		margin-top:50px;
	}
	.placeholders {
	  padding-bottom: 2rem;
	}
	</style>
    <script src="./js/angular.min.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">XX户外</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item">
			  <a class="nav-link" href="#">主题</a>
			</li>
			<li class="nav-item active">
			  <a class="nav-link" href="#">屏幕</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">投放</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">分成与统计</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">合作方</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">设定</a>
			</li>
		  </ul>
		  <form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="搜索...">
			<button class="btn btn-outline-info my-2 my-sm-0" type="submit">搜索</button>
		  </form>
		</div>
    </nav>
    <div class="container-fluid">
	  <div class="row">
		<nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar">
		  <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">屏幕所有者管理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">屏幕管理</a>
            </li>
          </ul>
		</nav>
		<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
		  <h3>查询</h3>
          <section class="row placeholders">
			  <div class="col-lg-6">
				<div class="btn-group mb-2" data-toggle="buttons">
				  <span class="input-group-addon" id="sizing-addon1">区域</span>
				  <label class="btn btn-outline-secondary active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked>台州市
				  </label>
				  <label class="btn btn-outline-secondary">
					<input type="radio" name="options" id="option2" autocomplete="off">温岭市
				  </label>
				  <label class="btn btn-outline-secondary">
					<input type="radio" name="options" id="option3" autocomplete="off">松门镇
				  </label>
				  <label class="btn btn-outline-secondary">
					<input type="radio" name="options" id="option4" autocomplete="off">全部
				  </label>
				</div>
				<div class="input-group mb-2">
				  <span class="input-group-addon" id="sizing-addon1">结算方式</span>
					<select class="form-control">
						<option></option>
    					<option>支付宝</option>
    					<option>微信</option>
    					<option>银行转账</option>
					</select>
				</div>
			  </div>
			  <div class="col-lg-6">
				<div class="input-group mb-2">
				  <span class="input-group-addon" id="sizing-addon1">联系人</span>
				  <input type="text" class="form-control" placeholder="联系人">
				</div>
				<div class="input-group mb-2">
				  <span class="input-group-addon" id="sizing-addon1">手机</span>
				  <input type="text" class="form-control" placeholder="手机">
				</div>
				<div class="d-flex flex-wrap justify-content-between">
				  <button type="button" class="btn btn-primary mb-3">查询</button>
				  <ul class="pagination">
					<li class="page-item disabled">
					  <span class="page-link">&laquo;</span>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item active">
					  <span class="page-link">2</span>
					</li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item">
					  <a class="page-link" href="#">&raquo;</a>
					</li>
				  </ul>
				</div>
			  </div>
		  </section>
		  <section>
			<table class="table table-sm">
			  <caption>屏幕所有者管理</caption>
			  <thead>
				<tr>
				  <th scope="col" ng-repeat="r in ths">{{r}}</th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="r in rows">
				  <th scope="row">{{ $index + 1 }}</th>
				  <td>{{r[0]}}</td>
				  <td>{{r[1]}}</td>
				  <td>{{r[2]}}</td>
				  <td>{{r[3]}}</td>
				  <td>{{r[4]}}</td>
				  <td>{{r[5]}}</td>
				  <td>{{r[6]}}</td>
				  <td>{{r[7]}}</td>
				  <td>{{r[8]}}</td>
				</tr>
			  </tbody>
			</table>
		  </section>
		  <hr/>
		  <footer>
			<p>© 2017 XX户外广告投放平台 咨询：林先生(136XXXXXXXX)</p>
		  </footer>
		</main>
      </div>
    </div>
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
            $scope.firstName= "John";
            $scope.lastName= "Doe";
            $http.get("./data/screen-owner.json")
            .then(function (result) {
                $scope.rows = result.data.records;
                $scope.ths = result.data.ths;
            });
        });
    </script>
  </body>
</html>